{% block content %}
<section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">

      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Projects
            </h3>
            <p class="subtitle-a">
              These are some of my completed or on going projects.</p>
              <p class="subtitle-a">
              Working on More Dynamic View using gitAPI to show my project. So here is simple button for now.  
            </p>
            <div class="line-mf"></div><br>
            <button type="button" class="btn btn-primary title-a" onclick="redirect()">Go Git</button>
             
          </div>
        </div>
      </div>
      
      </div>
    </div>
  </section>
  <!--/ Section Portfolio End /-->

  <script>
    function get_from_git()
    {
      
    }
    function redirect()
    {
      window.open("https://github.com/lurayy?tab=repositories","_blank");
    }
  </script>
{% endblock %}
<!-- 
<div class="row">
    <div class="col-md-4">
      <div class="work-box">
        <a href="img/work-1.jpg" data-lightbox="gallery-mf">
          <div class="work-img">
            <img src="img/work-1.jpg" alt="" class="img-fluid">
          </div>
          <div class="work-content">
            <div class="row">
              <div class="col-sm-8">
                <h2 class="w-title">Lorem impsum dolor</h2>
                <div class="w-more">
                  <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2018</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="w-like">
                  <span class="ion-ios-plus-outline"></span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
   -->